@{
    ViewData["Title"] = "Sobre Nosotros";
}


<h1 id="titulo" class="row d-flex justify-content-center align-content-center">@ViewData["Title"]</h1>


<div class="container py-5 h-80">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <h3>¿Quiénes somos?</h3>
            <p>
                Somos una empresa encargada de ...................................
            </p>
        </div>
    </div>
</div>
