@page
<div class="container">
    <div class="row">
              <div class="cold-md-6">
                <h3>Mensajes:</h3>
                <ul style="height: 250px" id="list" class="alert alert-info"></ul>
            </div>
            <div class="col-md-6">
                <span>Nombre:</span></br>
            <input style="background-color:#cff4fc; border: none; border-radius:5px" type="text" id="txtUser" /></br>
            <div id="txtArea">
                <span> Mensaje:</span></br>
                <textarea style="background-color:#cff4fc; border: none; border-radius:5px" rows="2" cols="100" id="txtMsg"></textarea></br>
               <div id="buttons">
                    <button style="color:white" type="submit" class="btn btn-info" id="btnSend">Enviar</button>
               </div>
            </div>
            </div>

            
  
</div>
<script href="~/lib/jquery/dist/jquery.min.map"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

<script src="~/js/site.js"></script>