@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/kiroshi-wall.jpg" class="d-block w-100" alt="Kiroshi-EyeWear">

            <div class="container ">
                <div class="carousel-caption text-start">
                    <h1>Visión de Futuro</h1>
                    <p>Disfruta de los pequeños detalles</p>
                    <p><button class="button-64" role="button"> <span class="text"><href="#"><b>Registrarse</b></span> </button></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            
            <img src="~/images/space.jpg" class="d-block w-100" alt="Space Image">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Bienvenido a un mundo de posibilidades.</h1>
                    <p>Explora nuestros nuevos productos.</p>
                    <p><button class="button-64" role="button"> <span class="text"><href ="#"><b>Aprende más</b></span> </button></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <<img src="~/images/kiroshi-wall.jpg" class="d-block w-100" alt="Kiroshi-EyeWear">

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><button class="button-64" role="button"> <span class="text"><href ="#"><b>Galería</b></span> </button></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4" style="color:white">
            <img src="~/images/kiroshi-wall.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></>

            <h2 class="fw-normal">Registarse</h2>
            <p>Registrate para obtener descuentos en nuestros implantes ópticos.</p>

            <p><a button class="button-64" role="button"> <span class="text"><href ="#"><b>Más detalles &raquo;</b></span> </button></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="color:white">
            <img src="~/images/space.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"  role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></>

            <h2 class="fw-normal">Explora</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a button class="button-64" role="button"> <span class="text"><href ="#"><b>Más detalles &raquo;</b></span></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="color:white">
            <img src="~/images/space.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></img>

            <h2 class="fw-normal">Heading</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
           <p><a button class="button-64" role="button"> <span class="text"><href ="#"><b>Más detalles &raquo;</b></span></a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Información sobre nuestros productos. <span class="text-muted">Te van a encantar.</span></h2>
            <p class="lead" style="color:">Información sobre productos..............................................</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/kiroshi-wall.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /></>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Descubre nuestro último modelo. <span class="text-muted">No te lo pierdas!</span></h2>
            < class="lead">Mas texto................................................................................................</>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/kiroshi-wall.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Siguenos en nuestras redes sociales! <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Y mas texto................................................</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/kiroshi-wall.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" >

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
