@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<h1 id="titulo" class="row d-flex justify-content-center align-content-center">@ViewData["Title"]</h1>


<div class="container py-5 h-80">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <h3>* Contenido de otros sitios web</h3>
            <p>
                Las páginas de este sitio Web pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras web se comporta exactamente de la misma manera que si hubieras visitado la otra web.
                Estos sitios Web pueden recopilar datos sobre ti, utilizar cookies, incrustar un código de seguimiento adicional de terceros, y supervisar tu interacción usando este código.
            </p>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <h3>* Política de Cookies</h3>
            <p> Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena en tu navegador web.
                En la página Política de Cookies puedes consultar toda la información relativa a la política de recogida, la finalidad y el tratamiento de las cookies.
            </p>
        </div>
</div>



