@model int

<h1 style="text-align:center">@TestApp.MVC.Controllers.ChatsController.Rooms.GetValueOrDefault(Model)</h1>

<input style="width: 200px;" type="text" placeholder="Usuario" id="user" />

<section class="hideScroll">
<div id="div-msg">
    <br/>
    <ul style="height:300px" id="messages" class="alert alert-info"></ul>
   
</div>
        

<div class="row">
    <div class="col-12">

            <input style="width: 1000px;" type="text" placeholder="Mensaje" id="message" />
            <button class="btn-send" id="btnSend"><b>Enviar</b></button>
    </div>

    </div><br /><br /><br />



</section>

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
 <script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    connection.start().then(()=>{
         connection.invoke("AddToGroup", "@Model")
         }).catch((e)=>console.error(e));

     document.getElementById("btnSend").addEventListener ("click", (event)=>
     {
        let room="@Model";
        let user = document.getElementById("user").value;
        let message = document.getElementById("message").value;
        connection.invoke("SendMessage", room, user, message)
            .catch((err)=> console.error(err.toString()));
        
        document.getElementById("message").value="";
        document.getElementById("message").focus();
        event.preventDefault();
     })

     connection.on("ReceiveMessage", (user, message) =>{
        var message = "<div><b>" + user + " dijo: </b> " + message + "</div>";
        document.getElementById("messages").innerHTML = 
        message + document.getElementById("messages").innerHTML;
     });
     </script>